.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureEmoji {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem 0;
  }

  .featureEmoji {
    font-size: 3rem;
  }
}
